<html>
    {{>header}}
    <body background="images/background.jpg">
        {{>nav}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-xm-10 col-sm-12 col-md-5 col-lg-4">
                    <img class="shadow-nohover" src="/images/hostels/{{hostel.hid}}.jpg" style="width: 100%; height: 350px; padding-top: 15px; padding-bottom: 15px; padding-left: 0px; padding-right: 0px;">
                </div>
                <div class="col-xm-10 col-sm-12 col-md-6 col-lg-8 bg-light">
                    <h2 style="padding-top: 12px;">{{hostel.name}}</h2>
                    <hr style="border-width: 2px; border-color: #333333">
                    <h4>Hostel Description:</h4> <p>{{hostel.description}}</p>
                    <h4>Per Day Expenses:  ₹{{hotsel.pde}}</h4>
                </div>
            </div>
            <table class="table">
                <tr><td>Date</td><td>Price</td><td>Get it</td></tr>
            {{#each mess_bills}}
                <tr><td>{{date}}</td><td>{{price}}</td><td><a href="/bills/{{file}}.pdf" class="btn">Get it</a></td></tr>
            {{/each}}
            </table>
            </table>
        </div>
        {{>footer}}
    </body>
</html>